<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI With Your Data</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="static/styles/img/chatbot.png">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>
<body>
  <header>
    <nav>
      <ul class="navigation">
        <li><a href="https://www.linkedin.com/in/warren-oliver/" target="_blank">LinkedIn</a></li>
        <li><a href="https://warrenoliver.github.io/" target="_blank">My Portfolio</a></li>
        <li><a href="https://github.com/WarrenOliver#" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </header>

  <main>
    
    <p class="hello-bot">Ask the bot a question</p>
    <form method="post">
        <div class="search-bar">
          <input type="text" class="search-input" name="bot-prompt" placeholder="Ask me anything" required>
          <button type="submit">Send</button>
        </div>
    </form>

    <!-- text-section  -->
    <div class="answers no-bullet">
        <h3> {{ answer_text }}{{ response }}</h3>
      </div>
  </main>

  <form action="/logout" method="post">
    <button type="submit" class="logout-button">
      Logout
      <span class="tooltip">Logs you out of your session and deletes stored conversation data</span>
    </button>
  </form>
  
  


</body>
</html>