<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arti Chat Bot</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="static/styles/img/chatbot.png">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <a href="https://harbingermarketing.com/"><img src="static/styles/img/night_logo.svg" alt="Logo"></a>
        
      </div>
      <ul class="navigation">
        <li><a href="https://harbingermarketing.com/" target="_blank">Harbinger</a></li>
        <li><a href="https://clarity.harbingermarketing.com/database/home2" target="_blank">Clarity</a></li>
        <li><a href="https://app.asana.com/0/home" target="_blank">Asana</a></li>
      </ul>
    </nav>
  </header>

  <main>
    
    <p class="hello-arti">Say hello to Arti</p>
    <form method="post">
        <div class="search-bar">
          <input type="text" class="search-input" name="arti-prompt" placeholder="Ask me anything" required>
          <button type="submit">Send</button>
        </div>
    </form>

    <!-- text-section  -->
    <div class="answers no-bullet">
        <!-- <h1>{{ answer_text }}</h1> -->

        <!-- <ul class="no-bullet">
            {% for response in response %}
            <li>{{ response }}</li>
            {% endfor %}
        </ul> -->
        <ul class="no-bullet">
          {% for message in chat_history %}
              <li>
                  <strong>{{ message.role }}:</strong> {{ message.content }}
              </li>
          {% endfor %}
      </ul>
      </div>
  </main>
</body>
</html>