<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arti Chat Bot</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="static/styles/img/chatbot.png">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <a href="https://harbingermarketing.com/" target="_blank"><img src="static/styles/img/logo-pixel.png" alt="Logo"></a>
        
      </div>
      <ul class="navigation">
        <li><a href="https://warrenoliver.github.io/" target="_blank">Portfolio Website</a></li>
        <li><a href="https://www.linkedin.com/in/warren-oliver/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/WarrenOliver#" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form method="post">
      <!-- <input style="visibility: hidden;" type="text" name="invisifield" placeholder="invisible field"> -->
      <button type="submit" class="btn-login">Chat with Arti</button>
    </form>
  </main>


</body>